.posts {
  margin-top: 3rem;

  a {
    cursor: pointer;

    strong {
      font-size: 1.8rem;
      color: var(--heading);
      line-height: 1.5em;
    }

    p {
      font-size: 1.2rem;
      color: var(--body);
      margin-bottom: 20px;
      margin-top: 5px;
    }

  }
}
